<!DOCTYPE html>
<html>

<head>
    <title>Wikipedia Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/assets/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">


</head>

<body class="d-flex flex-column h-100 mb-5">
<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark mb-5">
        <div class="container">
            <a class="navbar-brand font-weight-bold" href="/">Wiki Index</a>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/path">Distance</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/page">Pages</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

{% block content %}
{% endblock %}

<script>
    function init() {
        var buttons = document.getElementsByClassName('spinner');

        for (var i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener('click', function () {
                this.innerHTML = '<div class="spinner-grow spinner-grow-sm mr-2"></div>' + this.innerHTML;
            });
        }
    }

    window.onload = init();
</script>

</body>

</html>