{% extends 'master.html' %}

{% block content %}
<main class="container">
    <h1 class="mb-4">Pages</h1>

    <div class="card mb-4">
        <div class="card-body">
            <form>
                <div class="form-row align-items-end">
                    <div class="col-5">
                        <label for="from">Search Page</label>
                        <input name="title" type="text" class="form-control" placeholder="Page"
                               value="{{ result.SearchKey | default: index.Random.Title }}">
                    </div>

                    <div class="col-2">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    {% if result.Set %}
    {% if !result.Found %}

    No results found

    {% else %}

    <div class="d-flex d-inline align-items-center mb-4">
        <h1 class="mr-2">{{ result.Page.Title }}</h1>
        <a target=_blank href="{{ result.Page.WikipediaUrl }}"><span class="oi oi-external-link"></span></a>
    </div>

    {% comment %}
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Longest Distance</h5>
            <p class="card-text"><a href="/page?title={{ maxTarget.Slug }}">{{ maxTarget.Title }}</a>: {{ maxDistance }}
                hops
            </p>
        </div>
    </div>
    {% endcomment %}

    <div class="row">

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header font-weight-bold">
                    Referenced By
                </div>

                <ul class="list-group list-group-flush">
                    {% if result.Page.ReferencedBy | length == 0 %}
                    <li class="list-group-item">Not referenced by any other page</li>
                    {% endif %}

                    {% for reference in result.Page.ReferencedBy %}
                    <li class="list-group-item"><a href="/page?title={{ reference.Slug }}">{{ reference.Title }}</a>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header font-weight-bold">
                    References To
                </div>
                <ul class="list-group list-group-flush">
                    {% if result.Page.ReferencesTo | length == 0 %}
                    <li class="list-group-item">Doesn't reference any other page</li>
                    {% endif %}

                    {% for reference in result.Page.ReferencesTo %}
                    <li class="list-group-item"><a href="/page?title={{ reference.Slug }}">{{ reference.Title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

    {% endif %}
    {% endif %}

</main>
{% endblock %}