{% extends 'master.html' %}

{% block content %}
<main class="container">
    <h1 class="mb-4">{{ title }}</h1>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Longest Distance</h5>
            <p class="card-text"><a href="/page/{{ maxTarget.Slug }}">{{ maxTarget.Title }}</a>: {{ maxDistance }} hops</p>
        </div>
    </div>

    <div class="row">

        <div class="col-6">
            <div class="card">
                <div class="card-header font-weight-bold">
                    References To
                </div>
                <ul class="list-group list-group-flush">
                    {% for reference in referencesTo %}
                    <li class="list-group-item"><a href="/page/{{ reference.Slug }}">{{ reference.Title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <div class="card-header font-weight-bold">
                    Referenced By
                </div>
                <ul class="list-group list-group-flush">
                    {% for reference in referencedBy %}
                    <li class="list-group-item"><a href="/page/{{ reference.Slug }}">{{ reference.Title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</main>
{% endblock %}