{% extends 'master.html' %}

{% block content %}
<main class="container">

    <div class="row">

        <div class="col-12 col-md mb-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Search for Pages</h5>
                    <p class="card-text">
                        Here you can search for all indexed pages.
                        When you click on a page you can see from which pages it is referenced by
                        and to which pages it has references.
                    </p>

                    <form action="/page" class="d-flex flex-nowrap">
                        <input name="title" type="text" class="form-control flex-grow-1 mr-3" placeholder="Page"
                               value="{{ result.SearchKey | default: index.Random.Title }}">
                        <button type="submit" class="btn btn-primary text-nowrap">Search for Page</button>
                    </form>
                </div>
            </div>
        </div>

        {% if result.Set %}
        <div class="col-12 col-md mb-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Page Distance</h5>
                    <p class="card-text">
                        Find the distance between <i>{{ result.Page.Title }}</i> and any other page:
                    </p>

                    <form action="/path">
                        <input name="from" type="text" hidden value="{{ result.SearchKey }}">
                        <div class="d-flex flex-nowrap">
                            <input name="to" type="text" class="form-control flex-grow-1 mr-3"
                                   placeholder="Destination Page"
                                   value="{{ index.Random.Title }}">
                            <button type="submit" class="btn btn-primary text-nowrap">Find distance</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

    </div>

    {% if result.Set %}
    {% if !result.Found %}

    No results found

    {% else %}

    <div class="d-flex d-inline align-items-center mb-4">
        <h1 class="mr-3">{{ result.Page.Title }}</h1>
        <a target=_blank href="{{ result.Page.WikipediaUrl }}"><span class="oi oi-external-link"></span></a>
    </div>

    {% comment %}
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Longest Distance</h5>
            <p class="card-text"><a href="/page?title={{ maxTarget.Slug }}">{{ maxTarget.Title }}</a>: {{ maxDistance }}
                hops
            </p>
        </div>
    </div>
    {% endcomment %}

    <div class="row">

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header font-weight-bold">
                    Referenced By
                </div>

                <ul class="list-group list-group-flush">
                    {% if result.Page.ReferencedBy | length == 0 %}
                    <li class="list-group-item">Not referenced by any other page</li>
                    {% endif %}

                    {% for reference in result.Page.ReferencedBy %}
                    <li class="list-group-item"><a href="/page?title={{ reference.Slug }}">{{ reference.Title }}</a>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header font-weight-bold">
                    References To
                </div>
                <ul class="list-group list-group-flush">
                    {% if result.Page.ReferencesTo | length == 0 %}
                    <li class="list-group-item">Doesn't reference any other page</li>
                    {% endif %}

                    {% for reference in result.Page.ReferencesTo %}
                    <li class="list-group-item"><a href="/page?title={{ reference.Slug }}">{{ reference.Title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

    {% endif %}
    {% endif %}

</main>
{% endblock %}