{% extends 'master.html' %}

{% block content %}
<main class="container">
    <h1 class="mb-4">Shortest Path</h1>

    <div class="card mb-4">
        <div class="card-body">
            <form>
                <div class="form-row align-items-end">
                    <div class="col-5">
                        <label for="from">Starting Page</label>
                        <input name="from" type="text" class="form-control" placeholder="Goths" value="{{ result.FromKey }}">
                    </div>
                    <div class="col-5">
                        <label for="to">Destination Page Page</label>
                        <input name="to" type="text" class="form-control" placeholder="Architecture" value="{{ result.ToKey}}">
                    </div>

                    <div class="col-2">
                        <button type="submit" class="btn btn-primary">Find Path</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if result.Set %}
    <div class="card">
        <div class="card-header font-weight-bold">
            Shortest Path
        </div>
        <ul class="list-group list-group-flush">
            {% for ref in result.Path %}
            <li class="list-group-item"><a href="/page?title={{ ref.Slug }}">{{ ref.Title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</main>
{% endblock %}